<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['detail']">Project</a>
    </li>
    <li class="nav-item">
      <a *ngIf="isAdmin" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['edit']">Edit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['contributors']">Contributors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="project" [routerLinkActive]="['active']" [routerLink]="['/bugs', project.ProjectId]">Bugs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Back</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
