<div *ngIf="!project" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="project && isAdmin">
  <div class="card text-center border-dark m-1">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Authorized</th>
        <th scope="col">Email</th>
        <th scope="col">Requested</th>
        <th *ngIf="isAdmin" scope="col">Admin</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contributor of project.Contributors">
          <td [routerLink]="['/user', contributor.UserId]">{{ contributor.User['FirstName'] }} {{ contributor.User['LastName'] }}</td>
          <td *ngIf="contributor.Authorized === 1">Yes</td><td *ngIf="contributor.Authorized === 0">No</td>
          <td>{{ contributor.User['Email'] }}</td>
          <td>{{ contributor['CreatedAt'] | date }}</td>
          <td *ngIf="isAdmin">
            <button *ngIf="contributor.Authorized === 0" (click)="authorize(contributor.ContributorId)" type="button" class="btn btn-primary m-1">Authorize</button>
            <button *ngIf="contributor.Authorized === 1" (click)="deauthorize(contributor.ContributorId)" type="button" class="btn btn-danger m-1">Deauthorize</button>
            <button (click)="delete(contributor.ContributorId)" type="button" class="btn btn-warning m-1">Remove Request</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
