<div *ngIf="!project" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="project">
  <div>
      <button *ngIf="!isContributor" (click)="addContributor()">Contribute</button>
      <button *ngIf="isContributor" (click)="delete()">Leave Project</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Joined</th>
        <th *ngIf="isAdmin" scope="col">Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contributor of project.Contributors">
        <th scope="row"><a [routerLink]="['/user', contributor.UserId]">{{ contributor.User['FirstName'] }} {{ contributor.User['LastName'] }}</a></th>
        <td>{{ contributor.User['Email'] }}</td>
        <td>{{ contributor['CreatedAt'] | date }}</td>
        <td *ngIf="isAdmin">
          <button *ngIf="contributor.Authorized === 1" (click)="deauthorize(contributor.ContributorId)">Deauthorize</button>
          <button *ngIf="contributor.Authorized === 0" (click)="authorize(contributor.ContributorId)">Authorize</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
