/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

form p {
  margin: 0;
}

.link-item:hover {
  text-shadow: 0px 0px 0.5px black;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.sort-container {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.sort-icon {
  height: 12px;
}

.container {
  padding: 0;
}

@media (max-width: 640px)
{

    .mobile-disable
    {
        display: none;
    }

    div {
      padding: 0;
    }

}
