/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

form p {
  margin: 0;
}

tbody tr:hover {
  font-style: italic;
  /* font-weight: bold; */
  cursor: pointer;
}

.container {
  padding: 0;
}

@media (max-width: 640px)
{

    .mobile-disable
    {
        display: none;
    }

    div {
      padding: 0;
    }

}
