<div *ngIf="!projects" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="projects">
  <div class="row">
    <div class="col-sm-3">
      <div class="active-pink-3 active-pink-4 m-1">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="search" (keyup)="getList()">
      </div>
    </div>
    <div class="col-sm-9">
      <nav *ngIf="paginationList && paginationList.length > 0">
        <ul  class="pagination justify-content-end flex-wrap m-1">
          <li [ngClass]="{'disabled': start <= 0}" class="page-item link-item"><a class="page-link" (click)="getList(start - limit)">Previous</a></li>
          <li *ngFor="let page of paginationList; index as i" [ngClass]="{'active': start == page}" class="page-item link-item"><a class="page-link" (click)="getList(page)">{{ i + 1 }}</a></li>
          <li [ngClass]="{'disabled': start >= paginationList[paginationList.length - 1]}" class="page-item link-item"><a class="page-link" (click)="getList(start + limit)">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="card text-center border-dark m-1">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="link-item" scope="col" (click)="toggleName()">Name
            <img *ngIf="name == 'null'" class="sort-icon" src="assets/icon-sort.png" alt="sort">
            <img *ngIf="name == 'asc'" class="sort-icon" src="assets/icon-asc.png" alt="asc">
            <img *ngIf="name == 'desc'" class="sort-icon" src="assets/icon-desc.png" alt="desc">
          </th>
          <th class="mobile-disable" scope="col">Version</th>
          <th class="link-item" scope="col" (click)="toggleBugs()">Bugs
            <img *ngIf="bugs == 'null'" class="sort-icon" src="assets/icon-sort.png" alt="sort">
            <img *ngIf="bugs == 'asc'" class="sort-icon" src="assets/icon-asc.png" alt="asc">
            <img *ngIf="bugs == 'desc'" class="sort-icon" src="assets/icon-desc.png" alt="desc">
          </th>
          <th class="mobile-disable link-item" scope="col" (click)="toggleContributors()">Contributors
            <img *ngIf="contributors == 'null'" class="sort-icon" src="assets/icon-sort.png" alt="sort">
            <img *ngIf="contributors == 'asc'" class="sort-icon" src="assets/icon-asc.png" alt="asc">
            <img *ngIf="contributors == 'desc'" class="sort-icon" src="assets/icon-desc.png" alt="desc">
          </th>
          <th class="link-item" scope="col" (click)="toggleCreatedAt()">Created
            <img *ngIf="createdat == 'null'" class="sort-icon" src="assets/icon-sort.png" alt="sort">
            <img *ngIf="createdat == 'asc'" class="sort-icon" src="assets/icon-asc.png" alt="asc">
            <img *ngIf="createdat == 'desc'" class="sort-icon" src="assets/icon-desc.png" alt="desc">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="projects.length == 0">
          <td>N/A</td>
          <td class="mobile-disable">N/A</td>
          <td>N/A</td>
          <td class="mobile-disable">N/A</td>
          <td>N/A</td>
        </tr>
        <tr *ngFor="let project of projects" class="link-item" [routerLink]="['/project', project.ProjectId]">
          <td>{{ project['Name'] }}</td>
          <td class="mobile-disable">{{ project['Version'] }}</td>
          <td>{{ project['Bugs'].length }}</td>
          <td class="mobile-disable">{{ project['Contributors'].length }}</td>
          <td>{{ project['CreatedAt'] | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
