<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Bugs</th>
        <th scope="col">Contributors</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <th scope="row"><a [routerLink]="['/project', project.ProjectId]">{{ project['Name'] }}</a></th>
        <td>{{ project['Status'] }}</td>
        <td>{{ project['Bugs'].length }}</td>
        <td>{{ project['Contributors'].length }}</td>
        <td>{{ project['CreatedAt'] | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
