<div *ngIf="!projects" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  </div>
<div *ngIf="projects">
  <div class="row">
    <div class="col-sm-8">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center m-1">
          <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-4">
      <div class="active-pink-3 active-pink-4 m-1">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
    </div>
  </div>
  <div class="card text-center border-dark m-1">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th class="mobile-disable" scope="col">Version</th>
          <th scope="col">Bugs</th>
          <th class="mobile-disable" scope="col">Contributors</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="projects.length == 0">
          <td>N/A</td>
          <td class="mobile-disable">N/A</td>
          <td>N/A</td>
          <td class="mobile-disable">N/A</td>
          <td>N/A</td>
        </tr>
        <tr *ngFor="let project of projects" [routerLink]="['/project', project.ProjectId]">
          <td>{{ project['Name'] }}</td>
          <td class="mobile-disable">{{ project['Version'] }}</td>
          <td>{{ project['Bugs'].length }}</td>
          <td class="mobile-disable">{{ project['Contributors'].length }}</td>
          <td>{{ project['CreatedAt'] | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
