<div>
  <form #valForm='ngForm' (ngSubmit)="register()">
      <div class="form-group">
          <label for="FirstName">First Name</label>
          <input class="form-control" type="text" name="FirstName" required #valFirstName='ngModel' [(ngModel)]="FirstName" placeholder="First Name">
          <div class="alert alert-danger" *ngIf="errors?.FirstName">
            <p>{{ errors['FirstName'] }}</p>
          </div>
          <div class="alert alert-danger" *ngIf="valFirstName.errors?.required && (valFirstName.dirty || valFirstName.touched)">
            <p>Required</p>
          </div>
      </div>
      <div class="form-group">
          <label for="LastName">Last Name</label>
          <input class="form-control" type="text" name="LastName" required #valLastName='ngModel' [(ngModel)]="LastName" placeholder="Last Name">
          <div class="alert alert-danger" *ngIf="errors?.LastName">
            <p>{{ errors['LastName'] }}</p>
          </div>
          <div class="alert alert-danger" *ngIf="valLastName.errors?.required && (valLastName.dirty || valLastName.touched)">
            <p>Required</p>
          </div>
      </div>
      <div class="form-group">
          <label for="Email">Email</label>
          <input class="form-control" type="email" name="Email" required pattern="^[a-zA-Z0-9._-]{2,}@{1}[a-zA-Z0-9.-]{2,}\.+[a-zA-Z]{2,}$" #valEmail='ngModel' [(ngModel)]="Email" placeholder="Email">
          <div class="alert alert-danger" *ngIf="errors?.Email">
            <p>{{ errors['Email'] }}</p>
          </div>
          <div class="alert alert-danger" *ngIf="valEmail.errors?.required && (valEmail.dirty || valEmail.touched)">
            <p>Required</p>
          </div>
          <div class="alert alert-danger" *ngIf="valEmail?.errors?.pattern && (valEmail.dirty || valEmail.touched)">
            <p>Please enter a valid email.</p>
          </div>
      </div>
      <div class="form-group">
          <label for="Password">Password</label>
          <input class="form-control" type="password" name="Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" #valPassword='ngModel' [(ngModel)]="Password" placeholder="Password">
          <div class="alert alert-danger" *ngIf="errors?.Password">
            <p>{{ errors['Password'] }}</p>
          </div>
          <div class="alert alert-danger" *ngIf="valPassword.errors?.required && (valPassword.dirty || valPassword.touched)">
            <p>Required</p>
          </div>
          <div class="alert alert-danger" *ngIf="valPassword.errors?.pattern && (valPassword.dirty || valPassword.touched)">
            <p>Minimum eight characters, at least one letter, one number and one special character.</p>
          </div>
      </div>
      <div class="form-group">
          <label for="Confirm">Confirm Password</label>
          <input class="form-control" type="password" name="Confirm" required #valConfirm='ngModel' [(ngModel)]="Confirm" placeholder="Confirm Password">
          <div class="alert alert-danger" *ngIf="errors?.Confirm">
            <p>{{ errors['Confirm'] }}</p>
          </div>
          <div class="alert alert-danger" *ngIf="valConfirm.errors?.required && (valConfirm.dirty || valConfirm.touched)">
            <p>Required</p>
          </div>
      </div>
      <div>
          <button class="btn btn-warning" *ngIf="!valForm.valid" type="button">Submit</button>
          <button class="btn btn-primary" *ngIf="valForm.valid" type="submit">Submit</button>
      </div>
  </form>
</div>
