<div *ngIf="!projects && UserId" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="!UserId" class="alert alert-warning m-1" role="alert">
  <p>Please log in to view your activity.</p>
</div>
<div *ngIf="projects && UserId">
  <div class="card text-center border-dark m-1">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th class="mobile-disable" scope="col">Version</th>
          <th scope="col">Bugs</th>
          <th class="mobile-disable" scope="col">Contributors</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="projects.length == 0">
          <td>N/A</td>
          <td class="mobile-disable">N/A</td>
          <td>N/A</td>
          <td>N/A</td>
          <td class="mobile-disable">N/A</td>
        </tr>
        <tr *ngFor="let project of projects" class="link-item" [routerLink]="['/project', project.ProjectId]">
          <td>{{ project['Name'] }}</td>
          <td class="mobile-disable">{{ project['Version'] }}</td>
          <td>{{ project['Bugs'].length }}</td>
          <td class="mobile-disable">{{ project['Contributors'].length }}</td>
          <td>{{ project['CreatedAt'] | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
