<div *ngIf="!UserId" class="alert alert-warning m-1" role="alert">
  <p>Please log in to add a project.</p>
</div>
<div *ngIf="UserId" class="card border-dark m-1 p-0">
  <!-- <div class="card-header text-white bg-dark"></div> -->
  <div class="card-body">
    <form #valForm='ngForm' (ngSubmit)="addProject()">
      <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control" type="text" name="Name" required #valName='ngModel' [(ngModel)]="Name" placeholder="Name">
        <div class="alert alert-danger" *ngIf="errors?.Name">
            <p>{{ errors.Name }}</p>
        </div>
        <div class="alert alert-danger" *ngIf="valName.errors?.required && (valName.dirty || valName.touched)">
          <p>Required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input class="form-control" type="text" name="Description" required #valDescription='ngModel' [(ngModel)]="Description" placeholder="Description">
        <div class="alert alert-danger" *ngIf="errors?.Description">
            <p>{{ errors.Description }}</p>
        </div>
        <div class="alert alert-danger" *ngIf="valDescription.errors?.required && (valDescription.dirty || valDescription.touched)">
          <p>Required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="Version">Version</label>
        <select class="form-control" type="text" name="Version" required #valVersion='ngModel' [(ngModel)]="Version" placeholder="Version">
          <option value="Alpha">Alpha</option>
          <option value="Beta">Beta</option>
          <option value="Production">Production</option>
          <option value="Depreciated">Depreciated</option>
        </select>
        <div class="alert alert-danger" *ngIf="errors?.Version">
            <p>{{ errors.Version }}</p>
        </div>
        <div class="alert alert-danger" *ngIf="valVersion.errors?.required && (valVersion.dirty || valVersion.touched)">
          <p>Required</p>
        </div>
      </div>
      <div class="form-group">
        <label for="URL">Project URL</label>
        <input class="form-control" type="text" name="URL" #valURL='ngModel' [(ngModel)]="URL" placeholder="Project URL (optional)">
        <div class="alert alert-danger" *ngIf="errors?.URL">
            <p>{{ errors.URL }}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="Public">Privacy</label>
        <select class="form-control" type="number" name="Public" required #valPublic='ngModel' [(ngModel)]="Public" placeholder="Privacy">
          <option value="1">Public</option>
          <option value="0">Private</option>
        </select>
        <div class="alert alert-danger" *ngIf="errors?.Public">
            <p>{{ errors.Public }}</p>
        </div>
        <div class="alert alert-danger" *ngIf="valPublic.errors?.required && (valPublic.dirty || valPublic.touched)">
          <p>Required</p>
        </div>
      </div>
      <div>
          <button class="btn btn-warning" *ngIf="!valForm.valid" type="button">Submit</button>
          <button class="btn btn-primary" *ngIf="valForm.valid" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <!-- <div class="card-footer"></div> -->
</div>
