<div *ngIf="!bug && isPublic || !bug && isAuthorized || !bug && isAdmin" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="project && !isAuthorized && !isAdmin && !isPublic">
  <p>This project is set to private and you are not a contributor or admin.</p>
</div>
<div class="row" *ngIf="bug && isAuthorized || bug && isAdmin  || bug && isPublic">
  <div class="col-sm-4">
    <div class="card border-dark m-1 p-0">
      <div class="card-header text-center text-white bg-dark">
        <h5 class="card-title m-0">{{ bug['Subject'] }}</h5>
      </div>
      <div class="card-body p-1">
        <p class="card-subtitle m-1"><b>Added By: </b>{{ bug.Creator['FirstName'] }} {{ bug.Creator['LastName'] }}</p>
        <p class="card-subtitle m-1"><b>Description: </b>{{ bug['Description'] }}</p>
        <p class="card-subtitle m-1"><b>Priority: </b>{{ bug['Priority'] }}</p>
        <p class="card-subtitle m-1"><b>Status: </b>{{ bug['Status'] }}</p>
        <p class="card-subtitle m-1"><b>Due Date: </b>{{ bug['DueDate'] | date }}</p>
      </div>
      <!-- <div class="card-footer"></div> -->
    </div>
    <div class="card border-dark m-1 p-0">
      <div class="card-header text-white bg-dark">
        <h5 class="card-title text-center m-0">Add Update</h5>
      </div>
      <div class="card-body">
        <form *ngIf="isAuthorized || isAdmin" #valForm='ngForm' (ngSubmit)="add()">
          <div class="form-group">
            <label for="Message">Message</label>
            <textarea class="form-control" type="text" name="Message" required #valMessage='ngModel' [(ngModel)]="Message" placeholder="Message"></textarea>
            <div class="alert alert-danger" *ngIf="errors?.Message">
                <p>{{ errors.Message }}</p>
            </div>
            <div class="alert alert-danger" *ngIf="valMessage.errors?.required && (valMessage.dirty || valMessage.touched)">
              <p>Required</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 add-update-left">
                <label for="Status">Status</label>
                <select class="form-control" type="text" name="Status" required #valStatus='ngModel' [(ngModel)]="Status" placeholder="Status">
                  <option value="New">New</option>
                  <option value="Open">Open</option>
                  <option value="Assigned">Assigned</option>
                  <option value="Testing">Testing</option>
                  <option value="Verified">Verified</option>
                  <option value="Closed">Closed</option>
                </select>
                <div class="alert alert-danger" *ngIf="errors?.Status">
                    <p>{{ errors.Status }}</p>
                </div>
                <div class="alert alert-danger" *ngIf="valStatus.errors?.required && (valStatus.dirty || valStatus.touched)">
                  <p>Required</p>
                </div>
            </div>
            <div class="col-sm-2 add-update-right pull-right">
              <button class="btn btn-warning" *ngIf="!valForm.valid" type="button">Submit</button>
              <button class="btn btn-primary" *ngIf="valForm.valid" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="card-footer"></div> -->
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card text-center border-dark m-1 p-0">
      <div class="card-header text-white bg-dark">
        <h5 class="card-title m-0">Updates</h5>
      </div>
      <div class="card-body p-0 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Message</th>
              <th scope="col">Updated</th>
              <th *ngIf="isAuthorized || isAdmin" scope="col">Admin</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="bug.Updates.length == 0">
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td *ngIf="isAuthorized || isAdmin">N/A</td>
            </tr>
            <tr *ngFor="let update of bug.Updates">
              <td>{{ update['Status'] }}</td>
              <td>{{ update['Message'] }}</td>
              <td>{{ update['CreatedAt'] | date }}</td>
              <td *ngIf="update.UserId == UserId || isAdmin"><button (click)="delete(update.UpdateId)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
    </div>
    <!-- <div class="card-footer"></div> -->
  </div>
  </div>
</div>
