<div *ngIf="!user" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="user">
    <form #valForm='ngForm' (ngSubmit)="editUser()">
        <div class="form-group">
            <label for="FirstName">First Name</label>
            <input class="form-control" type="text" name="FirstName" required #valFirstName='ngModel' [(ngModel)]="FirstName" placeholder="First Name">
            <div class="alert alert-danger" *ngIf="errors?.FirstName">
              <p>{{ errors['FirstName'] }}</p>
            </div>
            <div class="alert alert-danger" *ngIf="valFirstName.errors?.required && (valFirstName.dirty || valFirstName.touched)">
              <p>Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="LastName">Last Name</label>
            <input class="form-control" type="text" name="LastName" required #valLastName='ngModel' [(ngModel)]="LastName" placeholder="Last Name">
            <div class="alert alert-danger" *ngIf="errors?.LastName">
              <p>{{ errors['LastName'] }}</p>
            </div>
            <div class="alert alert-danger" *ngIf="valLastName.errors?.required && (valLastName.dirty || valLastName.touched)">
              <p>Required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input class="form-control" type="email" name="Email" required pattern="^[a-zA-Z0-9._-]{2,}@{1}[a-zA-Z0-9.-]{2,}\.+[a-zA-Z]{2,}$" #valEmail='ngModel' [(ngModel)]="Email" placeholder="Email">
            <div class="alert alert-danger" *ngIf="errors?.Email">
              <p>{{ errors['Email'] }}</p>
            </div>
            <div class="alert alert-danger" *ngIf="valEmail.errors?.required && (valEmail.dirty || valEmail.touched)">
              <p>Required</p>
            </div>
            <div class="alert alert-danger" *ngIf="valEmail?.errors?.pattern && (valEmail.dirty || valEmail.touched)">
              <p>Please enter a valid email.</p>
            </div>
        </div>
        <div>
            <button class="btn btn-warning" *ngIf="!valForm.valid" type="button">Submit</button>
            <button class="btn btn-primary" *ngIf="valForm.valid" type="submit">Submit</button>
            <button class="btn btn-danger float-right" (click)="deleteUser()" type="button">Delete</button>
        </div>
    </form>
  </div>
