<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['list']">Bugs</a>
    </li>
    <li class="nav-item">
      <a *ngIf="canView" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['added']">Added</a>
    </li>
    <li class="nav-item">
      <a *ngIf="canView" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['assigned']">Assigned</a>
    </li>
    <li class="nav-item">
      <a *ngIf="canView" class="nav-link" [routerLinkActive]="['active']" [routerLink]="['add']">Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Back</a>
    </li>
  </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
