<div *ngIf="!project" class="d-flex justify-content-center m-5">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row" *ngIf="project">
  <div class="col-sm-3">
    <div class="card border-dark m-1 p-0">
      <div class="card-header text-center text-white bg-dark">
        <h5 class="card-title m-0">{{ project.Name }}</h5>
      </div>
      <div class="card-body p-1">
        <p class="card-subtitle m-1"><b>Description: </b>{{ project.Description }}</p>
        <p class="card-subtitle m-1"><b>Added: </b>{{ project.CreatedAt | date }}</p>
        <p class="card-subtitle m-1"><b>Admin: </b>{{ project.Creator.FirstName }} {{ project.Creator.LastName }}</p>
        <p class="card-subtitle m-1"><b>Version: </b>{{ project.Version }}</p>
        <p *ngIf="project.Public == 1" class="card-subtitle m-1"><b>Access: </b>Public</p>
        <p *ngIf="project.Public == 0" class="card-subtitle m-1"><b>Access: </b>Private</p>
      </div>
      <!-- <div class="card-footer"></div> -->
    </div>
  </div>
  <div class="col-sm-9">
    <div class="card text-center border-dark m-1 p-0">
      <div class="card-header text-white bg-dark p-1">
        <h5 class="card-title float-left m-2">Contributors</h5>
        <button *ngIf="!isContributor && UserId" (click)="addContributor()" type="button" class="btn btn-primary m-1 float-right">Contribute</button>
        <button *ngIf="isContributor" (click)="delete()" type="button" class="btn btn-danger m-1 float-right">Leave Project</button>
      </div>
      <div class="card-body p-0 table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Authorized</th>
              <th class="mobile-disable" scope="col">Email</th>
              <th scope="col">Requested</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="project.Contributors.length == 0">
              <td>N/A</td>
              <td>N/A</td>
              <td class="mobile-disable">N/A</td>
              <td>N/A</td>
            </tr>
            <tr *ngFor="let contributor of project.Contributors" class="link-item" [routerLink]="['/user', contributor.UserId]">
              <td>{{ contributor.User['FirstName'] }} {{ contributor.User['LastName'] }}</td>
              <td *ngIf="contributor.Authorized === 1">Yes</td><td *ngIf="contributor.Authorized === 0">No</td>
              <td class="mobile-disable">{{ contributor.User['Email'] }}</td>
              <td>{{ contributor['CreatedAt'] | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="card-footer"></div> -->
    </div>
  </div>
</div>

